<div ng-cloak>
    <md-content layout="row" layout-xs="column" layout-margin="" layout-padding="">
        <div flex="35">
            <form name="signInForm" novalidate ng-submit="$ctrl.onSubmit()">
                <md-card md-theme-watch>
                    <md-card-title>
                        <md-card-title-text class="text-center">
                            <span class="md-title">User Sign In</span>
                            <span class="md-subhead">Fill in the details and click <em>Sign In</em></span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-progress-linear md-mode="indeterminate" ng-if="$ctrl.loading"></md-progress-linear>
                    <md-card-content>
                        <div layout="column" layout-padding="">
                            <md-input-container class="md-block">
                                <label>Username or Email</label>
                                <input type="text" required name="usernameOrEmail" ng-model="$ctrl.credentials.usernameOrEmail"
                                    ng-minlength="5" aria-label="Username or Email">
                                <div ng-messages="signInForm.usernameOrEmail.$error">
                                    <div ng-message="required">Username or Email required.</div>
                                    <div ng-message="md-minlength">Minimum 5 characters required</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Password</label>
                                <input type="password" name="password" required ng-model="$ctrl.credentials.password"
                                    ng-minlength="6" aria-label="Password">
                                <div ng-messages="signInForm.password.$error">
                                    <div ng-message="required">Password required.</div>
                                    <div ng-message="md-minlength">Minimum 6 characters required</div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary md-curved-button"
                            ng-disabled="signInForm.$invalid || $ctrl.loading" type="submit">SIGN IN</md-button>
                        <md-button class="md-raised md-accent md-curved-button" type="reset">RESET</md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
        <div flex="65"></div>
    </md-content>
</div>